In [1]:
from uuid import uuid4 as uid
import pandas as pd

In [37]:
a = {"id": str(uid()), "platform": "Youtube", "firstname": "Hussam", "lastname": "Habib", "username": "hussamh10", "email": "hussamh10@gmail.com", "password": "hehehehehe", "phone": "3199309328", "dob": "Dec,12,1995", "gender": "M"}
a = pd.DataFrame.from_dict(a, orient='index').T
a = a.set_index('id')

In [2]:
# convert dataframe to sqlite table
import sqlite3
import pandas as pd

conn = sqlite3.connect("aceap.db")
# a.to_sql("profiles", conn, if_exists="replace")
# conn.close()

In [8]:
conn = sqlite3.connect('aceap.db')
c = conn.cursor()
username = 'aceap0001+3name'
# df = pd.read_sql_query("SELECT * FROM profiles", conn)
df = pd.read_sql_query("SELECT * FROM profiles WHERE username = '%s'" % (username), conn)
df.to_dict('index')[0]['id']

'5966382d-3e74-4073-b385-dc390dfc5f6f'

In [ ]:
c.execute('SELECT * FROM profiles WHERE username=?', (username,))
info = c.fetchone()
conn.close()

In [41]:
conn = sqlite3.connect("aceap.db")
df = pd.read_sql_query("SELECT * FROM profiles WHERE id = '"2f5d1b65-dc3a-4f52-bf1f-098f20f55deb"'", conn)

TypeError: can only concatenate str (not "builtin_function_or_method") to str